.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  gap: 40px;
}

.btn {
  width: 150px;
  height: 40px;
  border-radius: 20px;
  background: linear-gradient(to left, aquamarine, lightseagreen);
  color: white;
  border: 0;
}
